  /* ABOUT PAGE */

  button.fab, ons-fab.fab, ons-speed-dial-item.fab{
    background: #ff2982;

  }
  /* FOR ALL PAGES */

  .toolbar__center{
    background-image: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    font-family: sans-serif;
    font-size: x-large;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.34);
    color: white;
    position: relative;
  }

  .toolbar__left {
    background-image: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    font-family: sans-serif;

}
.toolbar__right{

    background-image: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    font-family: sans-serif;

}

.toolbar-button{
  color:white;
}

  .page__background{
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  }

  .page__content{
    font-family: sans-serif;
    font-size: medium;
    padding: 10px;
  }

  .tabbar {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);

  }

  .tabbar__item.active{
    background-color: rgba(0, 0, 0, 0.303);
  }

  .ons-icon{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.34);
    color: white;  
  }

  .tabbar__label{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.34);
    color: white;  
  }

/* EXERSICE PAGES */

  .my-header-image{
    max-width: 100%;
    filter: brightness(150%);
  }

  .page__content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .page__content h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 15, 183, 0.803);

  }
  .page__content li{
    color: purple;
    font-size: small;
  }

.switchText{
  text-align: right;
  font-size: larger;
  color: rgb(75, 42, 75);
}
.switch__toggle{
  background-color: rgba(0, 0, 0, 0.55);
  border-color: black;
  box-shadow: none;

}

:checked+.switch__toggle{
  background-color: #ff2982;
  box-shadow: none;
  border-color: black;

}

.switch__handle{
  background-color: rgb(255, 194, 236);
}